<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<table cellpadding="20">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>image_url</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="helmet : ${helmets}">
        <td th:text="${helmet.id}">id</td>
        <td th:text="${helmet.name}">name</td>
        <td th:text="${helmet.description}">description</td>
        <td th:text="${helmet.price}">price</td>
        <td><img th:src="${helmet.image_url}" style="aspect-ratio: 1; height: 200px;"/></td>
        <td>
            <a th:href="@{/update/{id}(id=${helmet.id})}">Update</a>
            <br/><br/>
            <a th:href="@{/delete/{id}(id=${helmet.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>