@import "./fonts.scss";

*, *::before, *::after{
  margin: 0;
  padding: 0;
}

body{
  color: #e8e8e8;
  font-family: 'JetBrains', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

a{
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: currentColor;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #232323;
}

::-moz-selection {
  color: #2f2f2f;
  background: #dedede;
}

::selection {
  color: #2f2f2f;
  background: #dedede;
}

