<div class="contact">
  <div class="contact__reveal-parent">
    <div class="contact__reveal-parent__text-container">
      <span class="contact__small-text level-1">Зв'яжіться з нами!</span>
      <span class="contact__small-text level-2">Натисніть для копіювання</span>
      <span class="contact__small-text level-3">Скопійовано!</span>
    </div>
  </div>

  <div class="contact__email-section" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="onClick()">
    <p class="contact__email-section__text">{{email}}</p>
  </div>
</div>
