.contact{
  flex-direction: column;
  width: 100%;
  height: 250px;

  display: flex;
  justify-content: space-evenly;
  place-items: center;

  &__reveal-parent{
    height: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    & span{
      display: block;
    }
  }

  &__small-text{
    text-align: center;
  }

  &__email-section{
    background-color: #212121;
    border: 3px dashed #3f3f3f;
    width: 40vw;
    height: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    place-items: center;

    cursor: pointer;

    &__text{
      font-size: 3vw;
      transition: transform 200ms ease-out;
    }

    &:hover{
      .contact__email-section__text{
        transform: scale(.95);
      }
    }
    &:active{
      .contact__email-section__text{
        transform: scale(1.05);
      }
    }
  }
}

.level-1{

}

.level-2{
}

.level-3{
}
