.header{
  &-container{
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  &-content{
    padding: 15px 15px;

    display: flex;
    justify-content: space-around;
  }

  &-link{

  }

  &-logo{
    font-family: 'Misto', sans-serif;
    font-size: 20px;
  }
}

.flex-gap{
  display: flex;
  gap: clamp(0px, 2vw, 15px);
  place-items: center;
  flex-direction: row;

  &-sm{
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .flex-gap{
    flex-direction: column;
    justify-content: space-between;
  }
}

.blurred{
  backdrop-filter: blur(16px);
}

.fixed{
  position: fixed;
}
