<div class="header header-container fixed blurred">
  <div class="header-content">
    <div class="flex-gap">
      <a href="#" class="header-link">бронежилети</a>
      <a href="#" class="header-link">шоломи</a>
    </div>

    <div class="flex-gap flex-gap-sm">
      <a href="#" class="header-logo">українська</a>
      <a href="#" class="header-logo">броня</a>
    </div>

    <div class="flex-gap">
      <a href="#" class="armor header-link">про нас</a>
      <a href="#" class="armor header-link">контакти</a>
    </div>
  </div>

</div>
