<div class="container">

  <div class="section-title">
    <div class="main-grid">
      <div class="main-grid__title-top">
        <h1 class="title title-top reveal-parent"><span>Українська</span></h1>
      </div>
      <div class="main-grid__text-container">
        <p class="small-title reveal-parent"><span>ЛІЦЕНЗОВАНИЙ</span></p>
        <p class="small-title reveal-parent"><span>НАЦІОНАЛЬНИЙ</span></p>
        <p class="small-title reveal-parent"><span>ВИРОБНИК</span></p>
        <p class="small-title reveal-parent"><span>постачальник</span></p>
        <p class="small-title reveal-parent"><span>БРОНЕЗАХИСТУ</span></p>
      </div>

      <div class="main-grid__image background-image"></div>

      <div class="main-grid__title-bottom">
        <h1 class="title title-bottom reveal-parent"><span>Броня</span></h1>
      </div>
    </div>

    <div class="section-gallery">
      <div class="section-gallery__image background-image" id="image-1"></div>
      <div class="section-gallery__image background-image" id="image-2"></div>
      <div class="section-gallery__image background-image" id="image-3"></div>
      <div class="section-gallery__image background-image" id="image-4"></div>
      <div class="section-gallery__image background-image" id="image-5"></div>
    </div>
  </div>

  <div class="section-catalog">
    <div class="section-catalog__subsection">
      <div class="text-ribbon running-left skewed">
        <span class="section-catalog__subsection__title">бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети бронежилети </span>
      </div>
      <grid [type]="types.HELMETS" class="margin-20 skewed"></grid>
    </div>

    <div class="section-catalog__subsection">
      <div class="text-ribbon running-right skewed">
        <span class="section-catalog__subsection__title">шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи шоломи </span>
      </div>
      <grid [type]="types.ARMORS" class="margin-20 skewed"></grid>
    </div>
  </div>

  <contact></contact>

  <footer class="section-footer">

  </footer>
</div>
