<form (ngSubmit)="handleSubmit()" [formGroup]="formGroup" *ngIf="formGroup">
  <label>
    <p>Назва</p>
    <input
      type="text"
      class="input"
      formControlName="name"/>
  </label>

  <label>
    <p>Ціна</p>
    <input
      type="number"
      class="input"
      formControlName="price">
  </label>

  <label>
    <p>Фото</p>
    <input
      type="text"
      class="input"
      formControlName="imagePath">
  </label>

  <div class="buttons-container">
    <button
      type="submit"
      class="btn btn--green"
      [disabled]="formGroup.invalid">
      Зберегти
    </button>

    <button
      type="button"
      class="btn btn--grey"
      *ngIf="formGroup.dirty"
      (click)="formGroup.reset()">
      Очистити
    </button>
  </div>

<!--  {{formGroup.value | json}}-->
</form>
